$font-color-light: #ffffff;
$font-color-dark: #000000;
$main-color1: #ffffff;
$main-color2: #2165d4;
$bg-btn: #2166d48b;
$color-red: #df4759;
$color-green: #42ba2c;
$color-grey: #c1c1c1;

// Container $max-width
$container-max-width: 1600;

//Animate durations
$animating-control-animate-duration: 1s;


