.game-over-page {
  width: 50%;
  height: 50%;
  background-color: brown;
  @include for-animated-controls-default-styles();

  &.hide{
    transform: translateX(100vw);
  }

  &.show{
    transform: translateX(-100vw);
  }
}
